apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - postgres/pvc.yaml
  - postgres/service.yaml
  - postgres/statefulset.yaml
  - keycloak/deployment.yaml
  - keycloak/service.yaml
  - keycloak/ingress.yaml

